<!DOCTYPE html>
<html lang="en">
<head>
  <title>Insured-Mine</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h1>Insured - Mine</h1>
<form action="/api/upload" enctype="multipart/form-data" method="post">
  <input type="file" name="file" accept='csv' >
  <input type="submit" value="Upload CSV">
</form>
</body>
</html>
